form {
  background-color: linen;
  text-align: center;
}  
h1 {
  font-family: arial;
  text-align: center;
}
p {
  font-family: arial;
  text-align: center;
}

button {
  background-color: blue;
  text-align: center;
} 
